AMLEO Base/Style
            AMLEO Code/Style
            AMLEO Image/Style
            AMLEO SansSerif/Style
            AMLEO Menu/Style
            AMLEO Links/Style
            AMLEO NewsItem/Style
            AMLEO NewsItemContents/Style
            AMLEO NewsItemDate/Style
AMLEO Base/LinkScript
AMLEO Base/Body
        AMLEO Menu/Start
            AMLEO News/Menu
            AMLEO Games/Menu
            AMLEO Tools/Menu
            AMLEO About/Menu
        AMLEO Menu/End
        AMLEO CompleteNews/Title
        AMLEO NewsItem/Begin
                NEWS_ITEM_URL
        AMLEO NewsItem/Title
                NEWS_ITEM_TITLE
        AMLEO NewsItem/Date
                NEWS_ITEM_DATE
        AMLEO NewsItem/Contents
                NEWS_ITEM_CONTENTS
        AMLEO NewsItem/End
AMLEO Base/Script
AMLEO Base/End
