AMLEO Base/Style
            AMLEO Code/Style
            AMLEO Image/Style
            AMLEO SansSerif/Style
            AMLEO Menu/Style
            AMLEO Links/Style
            AMLEO NewsItem/Style
            AMLEO NewsItemContents/Style
            AMLEO NewsItemDate/Style
            AMLEO NewsPagination/Style
            AMLEO Language/Style
AMLEO Base/LinkScript
AMLEO Base/Body
        AMLEO Menu/Start
            AMLEO News/Menu
            AMLEO Games/Menu
            AMLEO Tools/Menu
            AMLEO About/Menu
            AMLEO Language/Menu
        AMLEO Menu/End
        AMLEO News/Title

        NEWS_EXCERPTS
        NEWS_PAGINATION

AMLEO Base/Script
AMLEO Base/End
