AMLEO Base/Style
            AMLEO Code/Style
            AMLEO Image/Style
            AMLEO SansSerif/Style
            AMLEO Menu/Style
            AMLEO Links/Style
            AMLEO NewsItem/Style
            AMLEO NewsItemContents/Style
            AMLEO NewsItemDate/Style
            AMLEO Language/Style
AMLEO Base/LinkScript
AMLEO Base/Body
        AMLEO Menu/Start
            AMLEO News-ru/Menu
            AMLEO Games-ru/Menu
            AMLEO Tools-ru/Menu
            AMLEO About-ru/Menu
            AMLEO Language/Menu
        AMLEO Menu/End
        AMLEO CompleteNews-ru/Title
        AMLEO NewsItem/Begin
                NEWS_ITEM_URL
        AMLEO NewsItem/Title
                NEWS_ITEM_TITLE
        AMLEO NewsItem/Date
                NEWS_ITEM_DATE
        AMLEO NewsItem/Contents
NEWS_ITEM_CONTENTS
        AMLEO NewsItem/End
AMLEO Base/Script
AMLEO Base/End
